@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:wght@400;700&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F8F3FE;
}
header{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    .header-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo{
            width:50px;
            height: 50px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
            nav{
            display: flex;
            align-items: center;
                ul{
                    display: flex;
                    gap: 50px;
                    li{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        list-style: none;
                        &:hover a{
                        color:#9650E9;
                        transition: 0.7s ease;

                        }
                        a{
                            color: #9550e96c;
                            text-decoration: none;
                        }
                    }
                    .active{
                        border-bottom: 1px solid #9650E9;
                        color: #9650E9;
                    }
                    
                }
            }
            .toggle{
                display: none;
            }
    }
}
.search{    
    margin: 0 auto;
    width: 40%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    input{
        padding-left:25px;
        width: 100%;
        height: 100%;
        background: rgba(230, 218, 244, 0.82);
        border-radius: 95px;
        border: none;
        padding: 0 19px 0 0;
        text-align: center;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #868686;
        &::placeholder{
            text-align: center;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #868686;
            
            
        }
    }
    .search-icon{
        position: absolute;
        top: 12px;
        right: 25px;
        cursor: pointer;
    }


}
main{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: space-between;
        flex-direction: column;
        .main-musics{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .musics{
                width: 100%;
                height: 1000px;
                .popular-musics{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                .similar-musics{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 1050px;
                    display: none;
                }
                .music{
                    width: 90%;
                    padding: 10px;
                    background-color: rgba(150, 80, 233, 0.1);
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    .play-btn{
                        width: 40px;
                        height: 40px;
                        margin-left: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .about-music{
                        width: max-content;
                        height: 40px;
                        position: absolute;
                        margin-left: 80px;
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        .music-title{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #323232;
                        }
                        .music-subtitle{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            color: #323232;
                        }
                    }
                    .download-btn{
                        width: 25px;
                        height: 32px;
                        margin-right: 10px;
                    }
                }
                .main-player{
                    width: 592px;
                    height:max-content ;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .music-header{
                        width: 100%;
                        height: 100px;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .service{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        .services{
                            width: 129px;
                            height: 103px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin-left: 20px;
                            div{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #AFAFAF;
                            }
                        }
                        } 
                        .services__info{
                            margin-right: 200px;
                            width: 129px;
                            height: 103px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            div{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #323232;
                            }
                        }
                    
                    }
                    .music-buttons{
                        width: 100%;
                        height: 44px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                        div{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 170px;
                            height: 44px;
                            background-color: #9650E9;
                            border-radius: 10px;
                            padding: 10px;
                            p{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #FFFFFF;
                            }
                        }
                        .download{
                            margin-right: 230px;
                        }
                    }
                    .music-text{
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 20px;
                        p{
                            width: 100%;
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 16px;
                            color: #323232;
background: red;
                            display: flex;
                            justify-content: center;
                            height:150px;
                            overflow-x: scroll;
                    }
                    }

                }
                h1{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;  
                    color: #323232;
                    margin-bottom:20px;
                }
                h2{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    margin-bottom: 20px;
                }
                h3{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 42px;
                    color: #323232;
                    margin-bottom: 70px;
                }
            }
            .sections{
                width: 330px;
                height: 1000px;
                flex-direction: column;
                justify-content: space-between;
                .category{
                    margin-top: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 330px;
                    height: 500px;
                    background-color: rgba(150, 80, 233, 0.05);
                    border-radius: 15px;
                    padding: 5px;
                    h2{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 42px;
                        color: #323232;
                        margin-top: 10px;
                    }
                        ul{
                            height: 361px;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            margin-bottom: 60px;
                            margin-right: 120px;
                            li{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #323232;
                                list-style-image:url(../icons/square.svg);  
                                cursor: pointer;                          
                            }
                        
                        }
                }
                .new-musics{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;    
                    margin-top: 50px;
                    width: 330px;
                    height: max-content;
                    background-color: rgba(150, 80, 233, 0.05);
                    border-radius: 15px;
                    padding: 5px;
                    h2{
                        margin-bottom: 35px;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 42px;
                        color: #323232;
                        margin-top: 10px;
                    }
                    .music{ 
                        margin-left: 15px;
                        margin-bottom: 10px;  
                        width: 250px;
                        height: 45px;  
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .play-btn{
                            width: 40px;
                            height: 40px;
                            margin-left: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                        .about-music{
                            width: 127px;
                            height: 40px;
                            position: absolute;
                            margin-left: 80px;
                            display: flex;
                            flex-direction: column;
                            cursor: pointer;
                            .music-title{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #323232;
                            }
                            .music-subtitle{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                                color: #323232;
                            }
                            }
                        }
                    }
                }
                
            }
        }
        .tabheader{
            margin-top: 150px;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            .tabheader-items{
                width: 25%;
                display: flex;
                justify-content: space-between;
                .tabheader__item{
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;    
                    width: 24px;
                    height: 24px;
                    background: rgba(230, 218, 244, 0.82);
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                    cursor: pointer;
                    
                }
                .active{
                background-color: #9650E9;

                }
                .none{
                    background-color: rgba(150, 80, 233, 0.1);;
                    width: 40px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black;

                }
            }
        }
}
footer{
    margin-top: 240px;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
    .footer-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            ul{
                li{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #323232;
                    list-style: none;
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                    a{
                        color: #323232;
                        text-decoration: none;
                        }
                    }
                    
                }
            }
        .footer-logo{
            cursor: pointer;
        }
        .ad{
            width: 246px;
            height: 46px;
            background-color: #D9D9D9;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}
.player{
    position: sticky;
    bottom: 0;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80%;
    border-radius: 20px;
    height: 202px;
    background-color: #A47ECF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .music-info{
        width: 127px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 10px;
        .player-name{
            margin-top: 20px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            cursor: pointer;
        }
        .player-artist{
        margin-top: 5px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        cursor: pointer;
    }

    }
    .player-buttons{
        width: 70%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .center{
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        div{
            cursor: pointer;
        }

    }
    .player-length{
        width: 80%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #FFFFFF;
            cursor: pointer;
        }
        .play-length{
            width: 600px;
            height: 5px;
            background-color: white;
            border-radius: 6px;
            .played-length{
                width: 20%;
                height: 100%;
                background-color: #9650E9;
                border-radius:6px ;
                }
        }

    }
}
.modal-category{
    display: none;
}
.player-mobile{
    display: none;
}
@media only screen and (min-width: 375px) and (max-width: 768px) , (max-width: 375px){
.wrapper{
    height: max-content;
    overflow-x: hidden;
}
header{
    width: 95%;
    height: 55px;
    .header-content{
    nav{
        display: none;
    }
    .toggle{
        width: 20px;
        height: 14px;
        display: flex;
        justify-content: space-between; 
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        div{
            width: 20px;
            height: 2px;
            background-color: #9650E9;
        }
    }
}
}
.search{
    min-width: 80%;
} 
main{
    width: 90%;
    height: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between ;
        align-items: space-between;
        flex-direction: column;
        .main-musics{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .musics{
                width: 100%;
                height: 1000px;
                .popular-musics{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    h1{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                    }
                }
                .similar-musics{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    height: max-content;
                    display: none;
                    h2{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                        margin: 0 auto;
                    }
                }
                .music{
                    width: 100%;
                    padding: 10px 10px 10px 10px;
                    background-color: rgba(150, 80, 233, 0.1);
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    .play-btn{
                        width: 40px;
                        height: 40px;
                        margin-left: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .about-music{
                        width: 127px;
                        height: 40px;
                        margin-left: 80px;
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        .music-title{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #323232;
                        }
                        .music-subtitle{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            color: #323232;
                        }
                    }
                    .download-btn{
                        width: 25px;
                        height: 32px;
                        margin-right: 10px;
                    }
                }
                .main-player{
                    width: 90%;
                    height:max-content ;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h3{
                        font-size: 16px;
                        margin: 0;
                    }
                    .music-header{
                        width: 100%;
                        height: 202px;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        flex-direction: column;
                        .service{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 80px;
                        .services{
                            margin-left: 0px;
                            width: 129px;
                            height: 103px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin-top: 5px;
                            margin-bottom: 10px;
                            margin-right: 40px;
                            div{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #AFAFAF;

                            }
                        } 
                        .services__info{
                            margin-right: 200px;
                            width: 129px;
                            height: 103px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            margin-top: 5px;
                            margin-bottom: 10px;
                            div{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #323232;
                                width: max-content;

                            }
                        }
                        }
                    }
                    .music-buttons{
                        width: 100%;
                        height: 44px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 20px;
                        margin-right: 40px;
                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 170px;
                            height: 44px;
                            p{
                                margin-right: 20px;
                            }
                        }
                        .play-btn{
                            padding: 0 25px;
                            margin-right: 10px;
                        }
                    }
                    .music-text{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 90%;
                        p{
                            margin-top: 10px;
                            width: 100%;
                            height: 100px;
                            overflow-x: scroll;
                        }
                    }

                }
            }
            .sections{
                width: 330px;
                height: 1040px;
                flex-direction: column;
                justify-content: space-between;
                display: none;
                .category{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgba(150, 80, 233, 0.05);
                    border-radius: 15px;
                    h2{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 42px;
                        color: #323232;
                        margin-top: 10px;
                    }
                    ul{
                        height: 361px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        margin-bottom: 60px;
                        margin-right: 120px;
                        li{
                            font-family: 'Raleway';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #323232;
                            list-style-image:url(../icons/square.svg);  
                            cursor: pointer;                          
                        }
                    
                    }
                }
                .new-musics{
                    display: none;
                    }
                }
                
            }
        .tabheader{
                margin-top: 100px;
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                .tabheader-items{
                    width: 55%;
                    display: flex;
                    justify-content: space-between;
                    .tabheader__item{
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;    
                        width: 20px;
                        height: 20px;
                        background: rgba(230, 218, 244, 0.82);
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                        cursor: pointer;
                        
                    }
                    .active{
                    background-color: #9650E9;
    
                    }
                    .none{
                        background-color: rgba(150, 80, 233, 0.1);;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: black;
    
                    }
                }
            }
        }
}
footer{
    padding-bottom:300px;
    .footer-content{
        // margin-top: 40px;
        height: 250px ;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        nav{
            ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
    }
}
}
.modal-category{
    transition: 1.5s ease;
    width: 80vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    h4{
        margin-left: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #323232;
    }
    ul{
        margin-left: 40px;
        height: max-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 60px;
        margin-right: 120px;
        li{
            margin-top: 10px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #323232;
            list-style-image:url(../icons/square.svg);  
            cursor: pointer;                          
        }
    
    }
    .menu-close{
        position: absolute;
        top: 20px; 
        right: 20px;
        font-size: 25px;
        color: #9650E9;
        cursor: pointer;
    }
}
.player{
    display: none;
}
.player-mobile{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #A47ECF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .music-btns{
        display: flex;
        justify-content: space-between;
        width: 90%;
        .music-info{
            margin-top: 10px;
            .music-name{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
            }
            .music-title{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                margin-left: 10px;
            }
        }
        .music-button{
            margin-top: 5px;
            .repeat{
                margin-right: 15px;
                width: 16px;
                height: 14px;
            }
            .download{
                margin-top: 5px;
            }
        }
        div{
            display: flex;
            justify-content: space-between;
        }
    }
    .play-buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div{
            width: 30px;
            height: 30px;
            margin-left:20px;
        }
    }
    .player-length{
        width: 70%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 20px;
        p{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 14px;
            color: #FFFFFF;
            cursor: pointer;
        }
        .play-length{
            width: 60%;
            height: 5px;
            background-color: white;
            border-radius: 6px;
            .played-length{
                width: 20%;
                height: 100%;
                background-color: #9650E9;
                border-radius:6px ;
                }
        }

    }
}
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    header{
        width: 95%;
        height: 55px;
        .header-content{
        nav{
            display: flex;
        }
        .toggle{
            display: none;
            }
        }
    }
    .search{
        width: 60%;
    }
     main{
        margin: 0 auto;
        margin-top: 20px;
        width: 80%;
         height: 1050px;
        display: flex;
        justify-content: center;
        align-items: center;
        .main-content{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between ;
            flex-direction: column;
            .main-musics{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .musics{
                    width: 100%;
                    height: 1000px;
                    .popular-musics{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    .similar-musics{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: max-content;
                        display: none;
                        h2{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            color: #000000;
                            margin: 0 auto;
                        }
                    }
                    .music{
                        width: 90%;
                        padding: 10px 10px 10px 10px;
                        background-color: rgba(150, 80, 233, 0.1);
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 10px;
                        .play-btn{
                            width: 40px;
                            height: 40px;
                            margin-left: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                        .about-music{
                            width: 127px;
                            height: 40px;
                            position: absolute;
                            margin-left: 80px;
                            display: flex;
                            flex-direction: column;
                            cursor: pointer;
                            .music-title{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #323232;
                            }
                            .music-subtitle{
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 19px;
                                color: #323232;
                            }
                        }
                        .download-btn{
                            width: 25px;
                            height: 32px;
                            margin-right: 10px;
                        }
                    }
                    .main-player{
                        width: 592px;
                        height:max-content ;
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h3{
                            // display: none;
                            font-size: 18px;
                            margin: 0;
                        }
                        .music-header{
                            width: 100%;
                            height: 100px;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 10px;
                            .services{
                                margin-left: 0px;
                                width: 129px;
                                height: 103px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                div{
                                    font-family: 'Raleway';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #AFAFAF;
                                }
                            } 
                            .services__info{
                                margin-right: 200px;
                                width: 129px;
                                height: 103px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                div{
                                    font-family: 'Raleway';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #323232;
                                }
                            }
                        
                        }
                        .music-buttons{
                            width: 100%;
                            height: 44px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            a{
                                color: white;
                                text-decoration: none;
                            }
                            div{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 170px;
                                height: 44px;
                                background-color: #9650E9;
                                border-radius: 10px;
                                padding: 5px;
                                p{
                                    font-family: 'Raleway';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #FFFFFF;
                                }
                            }
                            .download{
                                margin-right: 230px;
                            }
                        }
                        .music-text{
                            margin-top: 10px;
                            width: 100%;
                            height:max-content;
                            p{
                                font-family: 'Raleway';
                                font-style: normal;
                                font-weight: 300;
                                font-size: 14px;
                                line-height: 16px;
                                color: #323232;
                            }
                        }
    
                    }
                }
              .sections{
                display: none;
              }
                    
                }
            }
            .tabheader{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                // display: none;
                .tabheader-items{
                    width: 60%;
                    display: flex;
                    justify-content: space-between;
                    .tabheader__item{
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;    
                        width: 24px;
                        height: 24px;
                        background-color: #9650E9;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                        
                    }
                    .none{
                        background-color: rgba(150, 80, 233, 0.1);;
                        width: 40px;
                        height: 24px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: black;
    
                    }
                }
            }
    }
 .modal-category{
    display: none;
 } 
 .player{
    .player-buttons{
        margin-top: 20px;
    }
 }  
    }